*{
    box-sizing: border-box;
}

h1 {
    font-family: Cambria;
    color: red;
    letter-spacing: 4px;
}

h2{
    font-family: 'times new roman';
    color:darkolivegreen;

}

.colors {
    display: block;
    border: solid grey;
    padding: 10px;
    margin: 20px auto;
    

}

li{
    float: left;
    margin: 20px;

}

.gray {
    background-color: #696969;
    display: inline-block;
    width: 30%;
    height: auto;
    padding: 20px;
    margin: 20px;
    font-family: 'open sans';
    font-size: 20px;
    text-align: center;
}

.red {
    background-color: #FF0000;
    display: inline-block;
    width: 30%;
    height: auto;
    padding: 20px;
    margin: 20px;
    font-family: 'open sans';
    font-size: 20px;
    text-align: center;
}
.white {
    background-color: #FFFAF0;
    display: inline-block;
    width: 30%;
    height: auto;
    padding: 20px;
    margin: 20px;
    font-family: 'open sans';
    font-size: 20px;
    text-align: center;
}
.brown {
    background-color: #D2691E;
    display: inline-block;
    width: 30%;
    height: 50px;
    padding: 20px;
    margin: 20px;
    font-family: 'open sans';
    font-size: 20px;
    text-align: center;
}
.blue {
    background-color: #0000FF;
    display: inline-block;
    width: 30%;
    height: auto;
    padding: 20px;
    margin: 20px;
    font-family: 'open sans';
    font-size: 20px;
    text-align: center;
}
.green {
    background-color: #00FF7F;
    display: inline-block;
    width: 30%;
    height: auto;
    padding: 20px;
    margin: 20px;
    font-family: 'open sans';
    font-size: 20px;
    text-align: center;
}

