

h1 {
    font-family: Cambria;
    color: red;
    letter-spacing: 4px;
}

h2{
    font-family: 'times new roman';
    color:darkolivegreen;

}

div{
    display: block;
}

.container {
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
  }
.color-container{
    width: 100%;
}


.gray {
    background-color: #696969;
    display: inline-block;
    width: 30%;
    height: auto;
    padding: 20px;
    margin: 20px;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
    
}

.red {
    background-color: #FF0000;
    display: inline-block;
    width: 30%;
    height: auto;
    padding: 20px;
    margin: 20px;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
    
}
.white {
    background-color: #FFFAF0;
    display: inline-block;
    width: 30%;
    height: auto;
    padding: 20px;
    margin: 20px;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
    
}
.brown {
    background-color: #D2691E;
    display: inline-block;
    width: 30%;
    height: auto;
    padding: 20px;
    margin: 20px;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
   
}
.blue {
    background-color: #0000FF;
    display: inline-block;
    width: 30%;
    height: auto;
    padding: 20px;
    margin: 20px;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
   
}
.green {
    background-color: #00FF7F;
    display: inline-block;
    width: 30%;
    height: auto;
    padding: 20px;
    margin: 20px;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
}

.font-panel{
    display: block;

}

.foldit-headline {
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Foldit';
}

.foldit-regular{
    font-family: 'Foldit';
    font-size: 16px;
}

.foldit-bold{
    font-style: bold;
    font-size: 16px;
    font-family: 'foldit';
}


.foldit-italic{
    font-style: italic;
    font-size: 16px;
    font-family: 'foldit';
}

.poppins-headline{
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Poppins';
}

.poppins-regular{
    font-family: 'poppins';
    font-size: 16px;
}

.poppins-bold{
    font-style: bold;
    font-size: 16px;
    font-family: 'poppins';
}

.poppins-italic{
    font-family: 'poppins';
    font-style: italic;
    font-family: 'poppins';
}

.dosis-headline{
    text-decoration: underline;
    font-size: 20px;
    font-family: 'dosis';
}
.dosis-regular{
    font-family: 'dosis';
    font-size: 16px;
}
.dosis-bold{
    font-size: 16px;
    font-family: 'dosis';
    font-style: bold;
}
.dosis-italic{
    font-size: 16px;
    font-family: 'dosis';
    font-style: italic;
}