

h1 {
    font-family: Cambria;
    color: red;
    letter-spacing: 4px;
}

h2{
    font-family: 'times new roman';
    color:darkolivegreen;
    font-size: 24px;
    margin: 20px;

}

div{
    display: flex;
}

.container {
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
    display: inline-flex;
  }
.color-container{
    width: 100%;
    display: inline-flex;
}


.gray {
    background-color: #696969;
    display: inline-block;
    width: 32%;
    min-height: 100px;
    padding: 20px;
    margin: 20px auto;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
    
}

.red {
    background-color: #FF0000;
    display: inline-block;
    width: 32%;
    min-height: 100px;
    padding: 20px;
    margin: 20px auto;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
    
}
.white {
    background-color: #FFFAF0;
    display: inline-block;
    width: 32%;
    min-height: 100px;
    padding: 20px;
    margin: 20px auto;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
    
}
.brown {
    background-color: #D2691E;
    display: inline-block;
    width: 32%;
    min-height: 100px;
    padding: 20px;
    margin: 20px auto;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
   
}
.blue {
    background-color: #0000FF;
    display: inline-block;
    width: 32%;
    min-height: 100px;
    padding: 20px;
    margin: 20px auto;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
   
}
.green {
    background-color: #00FF7F;
    display: inline-block;
    width: 32%;
    min-height: 100px;
    padding: 20px;
    margin: 20px auto;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
}

.font-panel{
    display: block;
    width: 45%;

}

.foldit-headline {
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Foldit';
    margin: 20px 0px;
}

.foldit-regular{
    font-family: 'Foldit';
    font-size: 16px;
    margin: 16px 0px;
}

.foldit-bold{
    font-weight: bold;
    font-size: 16px;
    font-family: 'foldit';
    margin: 16px 0px;
}


.foldit-italic{
    font-style: italic;
    font-size: 16px;
    font-family: 'foldit';
    margin: 16px 0px;
}

.poppins-headline{
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Poppins';
    margin: 20px 0px;
}

.poppins-regular{
    font-family: 'poppins';
    font-size: 16px;
    margin: 16px 0px;
}

.poppins-bold{
    font-weight: bold;
    font-size: 16px;
    font-family: 'poppins';
    margin: 16px 0px;
}

.poppins-italic{
    font-family: 'poppins';
    font-style: italic;
    font-family: 'poppins';
    margin: 16px 0px;
}

.dosis-headline{
    text-decoration: underline;
    font-size: 20px;
    font-family: 'dosis';
    margin: 20px 0px;
}
.dosis-regular{
    font-family: 'dosis';
    font-size: 16px;
    margin: 16px 0px;
}
.dosis-bold{
    font-size: 16px;
    font-family: 'dosis';
    font-weight: bold;
    margin: 16px 0px;
}
.dosis-italic{
    font-size: 16px;
    font-family: 'dosis';
    font-style: italic;
    margin: 16px 0px;
}